html body {
padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
}
body {
  background: -webkit-radial-gradient(61.8% 50%, circle cover, #b0d2ed, #4777b4 100%) fixed;
}
body > .container {
  background: white;
  border-radius: 0 0 5px 5px;
  padding: 10px 10px;
  margin-bottom: 40px;
}
#project-info dt {
	float:left;
  color: #999;
	width:70px;
	text-align:right;
}
#project-info dd {
  overflow:hidden;
}
#project-info h4 {
	font-size:13px;
	float:left;
}

#project-info .btn {
  margin-bottom: 9px;
}
#article-list {
  list-style: none;
  margin-left: 0;
}
#article-list li {
  border-bottom: 1px dashed #ccc;
  line-height: 22px;
  margin-bottom: 3px;
}
dd img {
  width: 100px;
  height: 100px;
  float: left;
}
#screen-shot h3 {
  padding-left: 10px;
}
#screen-shot-list {
  list-style: none;
  margin: 0;
}
#screen-shot img {
  margin: 10px 5px 0 10px;
}
#tag-list {
  list-style: none;
	margin:0;
  margin-left: 10px;
}
#tag-list li {
  margin: 0 5px;
  float: left;
}
#introduction-main {
  padding: 10px;
}
#sidebar .well {
  margin: 10px 0 10px 10px;
}
#tag-filter input {
  width: 240px;
}
#tag-filter span.label {
  display: inline-block;
  margin-top: 3px;
}
#tag-filter span.label a {
  color: white;
}
#add-btn {
  width: 220px;
}
#project-list {
  list-style: none;
  margin: 10px 10px 0 0;
  border-top: 1px dashed #eee;
}
#project-list > li {
  padding: 10px;
  border-bottom: 1px dashed #eee;
}
#project-list > li .tag-list {
  float: right;
}
#project-list > li p {
  overflow: hidden;
}
#project-list > li img {
  width: 100px;
  margin-right: 10px;
  float: left;
}
.tag-list {
  list-style: none;
  margin: 0;
}
.tag-list li {
  display: inline-block;
}
#feedback {
	border-radius: 7px 0 0 7px;
	width: 10px;
	position: fixed;
	right: 0;
	top: 40%;
}
.cleditorMain {
	margin-bottom:10px;
}
#login-panel {
	position:static;
	margin:100px auto;
}